<div class="row">
        <hr>
        <div class="large-8 columns">
          <h4>Summary</h4>
          <p>Over 8 years of extensive development experience in building responsive websites and mobile applications. </p>
<p>Extensive knowledge in technologies like HTML5, CSS3,AngularJs, Ember.js, backbone.js, handlebar.js. 
</p>
<p>Developed hybrid applications using PhoneGap
Excellent knowledge and working experience in Drupal CMS, user Interface development using DHTML, XHTML CSS, JavaScript and jquery . </p>
<p>Strong MySQL database design, indexing and query optimization skill. </p>
</p>Responsible for the design, execution and delivery of software product and services.</p>
<p>Excellent working experience in Product / Application development & Application Management. </p>
<p>Excellent experience in Customer Relationship Management, Service Level Management, Process Management.</p>
        </div>
        <div class="large-4 columns">
          <img src="assets/img/subthree.jpg">
        </div>
      </div>