# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Directory used for building the web app
build

# Dependency directory
node_modules

# Environment and IDE related files
.DS_Store
.idea
*.swp

# Karma Files
code-coverage