      <div class="row">
        <hr>
        <div class="large-12 columns">
          <h4>Work</h4>
          <p>Click on each image!</p>

          <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
            <li>
              <a href="http://placehold.it/800x500&text=[img]">
              <img data-caption="caption here..." src="assets/img/Carousel/ImgOne.jpg"></a>
            </li>
            <li>
             <a href="http://placehold.it/800x500&text=[img]">
              <img data-caption="caption here..." src="assets/img/Carousel/ImgTwo.jpg"></a>
            </li>
            <li>
              <a href="http://placehold.it/800x500&text=[img]">
              <img data-caption="caption here..." src="assets/img/Carousel/ImgThree.jpg"></a>
            </li>
            <li>
             <a href="http://placehold.it/800x500&text=[img]">
              <img data-caption="caption here..." src="assets/img/Carousel/ImgFour.jpg"></a>
            </li>
            <li>
              <a href="http://placehold.it/800x500&text=[img]">
              <img data-caption="caption here..." src="assets/img/Carousel/ImgFive.jpg"></a>
            </li>       
            <li>
             <a href="http://placehold.it/800x500&text=[img]">
              <img data-caption="caption here..." src="assets/img/Carousel/ImgSix.jpg"></a>
            </li> 
          </ul>
        </div>
      </div>