<div class="row">
    <hr>
	<div class="large-4 columns">
		<img src="assets/img/jubin.png">
	</div>
	<div class="large-8 columns">
          <h4>Jubin Jose</h4>
          <div class="large-12 columns">
            Role: UI Front-End Technical Lead
          </div>
          <div class="large-12 columns">
            Plano, Texas
          </div>
          <div class="large-12 columns">
            Information Technology and Services
          </div>
          <div class="large-12 columns">
            <b>Specialties: AngularJS, BackboneJS, EmberJs, JQuery Mobile, SASS, BootStrap, HTML5, CSS3, Agile</b>
          </div>
          
         </div>
 </div>